.wrapper{
  /* flex:1; */
  /* overflow: scroll; */
  width: 80%;
  display: flex;
  justify-content: center;
  .chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    p,li{
      margin: 4px 0px;
    }
    .message{
      padding: 4px 16px;
      &.user{
        background-color: #D3D3D3;
        border-radius: 16px;
        max-width: 80%;
        align-self: flex-end;
      }
    }
  }
}

.qa{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p,li{
    margin: 10px 0px;
  }
  .message{
    padding: 20px;
    &.user{
      background-color: #D3D3D3;
      border-radius: 20px;
      max-width: 80%;
      align-self: flex-end;
    }
  }
}

.endChat{
  padding-bottom: 100px;
}